WearDrop-Drimtim (Grupal)/WearDropFront/WearDropWA/Connected Services/DescuentoPorcentajeWS/DescuentoPorcentajeWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://descuentos.services.weardrop.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DescuentoPorcentajeWS" targetNamespace="http://descuentos.services.weardrop.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WearDropWS/DescuentoPorcentajeWS?xsd=1" namespace="http://descuentos.services.weardrop.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarDescuentoPorcentaje">
    <part name="parameters" element="tns:eliminarDescuentoPorcentaje" />
  </message>
  <message name="eliminarDescuentoPorcentajeResponse">
    <part name="parameters" element="tns:eliminarDescuentoPorcentajeResponse" />
  </message>
  <message name="mostrar_descuentosporcentaje">
    <part name="parameters" element="tns:mostrar_descuentosporcentaje" />
  </message>
  <message name="mostrar_descuentosporcentajeResponse">
    <part name="parameters" element="tns:mostrar_descuentosporcentajeResponse" />
  </message>
  <message name="modificarDescuentoPorcentaje">
    <part name="parameters" element="tns:modificarDescuentoPorcentaje" />
  </message>
  <message name="modificarDescuentoPorcentajeResponse">
    <part name="parameters" element="tns:modificarDescuentoPorcentajeResponse" />
  </message>
  <message name="mostrar_descuentosporcentajeactivos">
    <part name="parameters" element="tns:mostrar_descuentosporcentajeactivos" />
  </message>
  <message name="mostrar_descuentosporcentajeactivosResponse">
    <part name="parameters" element="tns:mostrar_descuentosporcentajeactivosResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="obtenerPorId">
    <part name="parameters" element="tns:obtenerPorId" />
  </message>
  <message name="obtenerPorIdResponse">
    <part name="parameters" element="tns:obtenerPorIdResponse" />
  </message>
  <message name="insertarDescuento">
    <part name="parameters" element="tns:insertarDescuento" />
  </message>
  <message name="insertarDescuentoResponse">
    <part name="parameters" element="tns:insertarDescuentoResponse" />
  </message>
  <message name="mostrarPorcentajeXPrenda">
    <part name="parameters" element="tns:mostrarPorcentajeXPrenda" />
  </message>
  <message name="mostrarPorcentajeXPrendaResponse">
    <part name="parameters" element="tns:mostrarPorcentajeXPrendaResponse" />
  </message>
  <message name="insertarPrendaPorcentaje">
    <part name="parameters" element="tns:insertarPrendaPorcentaje" />
  </message>
  <message name="insertarPrendaPorcentajeResponse">
    <part name="parameters" element="tns:insertarPrendaPorcentajeResponse" />
  </message>
  <portType name="DescuentoPorcentajeWS">
    <operation name="eliminarDescuentoPorcentaje">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/eliminarDescuentoPorcentajeRequest" message="tns:eliminarDescuentoPorcentaje" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/eliminarDescuentoPorcentajeResponse" message="tns:eliminarDescuentoPorcentajeResponse" />
    </operation>
    <operation name="mostrar_descuentosporcentaje">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/mostrar_descuentosporcentajeRequest" message="tns:mostrar_descuentosporcentaje" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/mostrar_descuentosporcentajeResponse" message="tns:mostrar_descuentosporcentajeResponse" />
    </operation>
    <operation name="modificarDescuentoPorcentaje">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/modificarDescuentoPorcentajeRequest" message="tns:modificarDescuentoPorcentaje" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/modificarDescuentoPorcentajeResponse" message="tns:modificarDescuentoPorcentajeResponse" />
    </operation>
    <operation name="mostrar_descuentosporcentajeactivos">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/mostrar_descuentosporcentajeactivosRequest" message="tns:mostrar_descuentosporcentajeactivos" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/mostrar_descuentosporcentajeactivosResponse" message="tns:mostrar_descuentosporcentajeactivosResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/helloRequest" message="tns:hello" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="obtenerPorId">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/obtenerPorIdRequest" message="tns:obtenerPorId" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/obtenerPorIdResponse" message="tns:obtenerPorIdResponse" />
    </operation>
    <operation name="insertarDescuento">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/insertarDescuentoRequest" message="tns:insertarDescuento" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/insertarDescuentoResponse" message="tns:insertarDescuentoResponse" />
    </operation>
    <operation name="mostrarPorcentajeXPrenda">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/mostrarPorcentajeXPrendaRequest" message="tns:mostrarPorcentajeXPrenda" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/mostrarPorcentajeXPrendaResponse" message="tns:mostrarPorcentajeXPrendaResponse" />
    </operation>
    <operation name="insertarPrendaPorcentaje">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/insertarPrendaPorcentajeRequest" message="tns:insertarPrendaPorcentaje" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoPorcentajeWS/insertarPrendaPorcentajeResponse" message="tns:insertarPrendaPorcentajeResponse" />
    </operation>
  </portType>
  <binding name="DescuentoPorcentajeWSPortBinding" type="tns:DescuentoPorcentajeWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarDescuentoPorcentaje">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrar_descuentosporcentaje">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarDescuentoPorcentaje">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrar_descuentosporcentajeactivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrarPorcentajeXPrenda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPrendaPorcentaje">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DescuentoPorcentajeWS">
    <port name="DescuentoPorcentajeWSPort" binding="tns:DescuentoPorcentajeWSPortBinding">
      <soap:address location="http://localhost:8080/WearDropWS/DescuentoPorcentajeWS" />
    </port>
  </service>
</definitions>