WearDrop-Drimtim (Grupal)/WearDropFront/WearDropWA/Connected Services/DevolucionWS/DevolucionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://devoluciones.services.weardrop.pucp.edu.pe/" targetNamespace="http://devoluciones.services.weardrop.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarDevolucion" type="tns:eliminarDevolucion" />
  <xs:element name="eliminarDevolucionResponse" type="tns:eliminarDevolucionResponse" />
  <xs:element name="insertarDevolucion" type="tns:insertarDevolucion" />
  <xs:element name="insertarDevolucionResponse" type="tns:insertarDevolucionResponse" />
  <xs:element name="listarDevoluciones" type="tns:listarDevoluciones" />
  <xs:element name="listarDevolucionesPorProveedor" type="tns:listarDevolucionesPorProveedor" />
  <xs:element name="listarDevolucionesPorProveedorResponse" type="tns:listarDevolucionesPorProveedorResponse" />
  <xs:element name="listarDevolucionesResponse" type="tns:listarDevolucionesResponse" />
  <xs:element name="modificarDevolucion" type="tns:modificarDevolucion" />
  <xs:element name="modificarDevolucionResponse" type="tns:modificarDevolucionResponse" />
  <xs:element name="obtenerDevolucionPorId" type="tns:obtenerDevolucionPorId" />
  <xs:element name="obtenerDevolucionPorIdResponse" type="tns:obtenerDevolucionPorIdResponse" />
  <xs:complexType name="insertarDevolucion">
    <xs:sequence>
      <xs:element minOccurs="0" name="devolucion" type="tns:devolucion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="devolucion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idEmpleado" type="xs:int" />
      <xs:element name="idPrenda" type="xs:int" />
      <xs:element name="idProveedor" type="xs:int" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="nombrePrenda" type="xs:string" />
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
      <xs:element minOccurs="0" name="talla" type="tns:talla" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="condiciones" nillable="true" type="tns:condicionPago" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="idProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="RUC" type="xs:long" />
      <xs:element name="telefono" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="condicionPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idCondicion" type="xs:int" />
      <xs:element name="numDias" type="xs:int" />
      <xs:element name="vigente" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDevolucionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDevolucion">
    <xs:sequence>
      <xs:element minOccurs="0" name="devolucion" type="tns:devolucion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDevolucionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDevolucionPorId">
    <xs:sequence>
      <xs:element name="idDevolucion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDevolucionPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:devolucion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDevoluciones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarDevolucionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:devolucion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDevolucion">
    <xs:sequence>
      <xs:element name="idDevolucion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDevolucionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDevolucionesPorProveedor">
    <xs:sequence>
      <xs:element name="idProveedor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDevolucionesPorProveedorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:devolucion" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="talla">
    <xs:restriction base="xs:string">
      <xs:enumeration value="XS" />
      <xs:enumeration value="S" />
      <xs:enumeration value="M" />
      <xs:enumeration value="L" />
      <xs:enumeration value="XL" />
      <xs:enumeration value="XXL" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>