WearDrop-Drimtim/WearDropFront/WearDropWA/Connected Services/ReporteMarWS/ReporteMarWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://reportes.services.weardrop.pucp.edu.pe/" targetNamespace="http://reportes.services.weardrop.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteMargenGanancia" type="tns:generarReporteMargenGanancia" />
  <xs:element name="generarReporteMargenGananciaResponse" type="tns:generarReporteMargenGananciaResponse" />
  <xs:complexType name="generarReporteMargenGanancia">
    <xs:sequence>
      <xs:element minOccurs="0" name="filtroProducto" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDesde" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHasta" type="xs:string" />
      <xs:element minOccurs="0" name="filtroLinea" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteMargenGananciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>