WearDrop-Drimtim/WearDropFront/WearDropWA/Connected Services/ReporteVentaWS/ReporteVentaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="pe.edu.pucp.weardrop.services" targetNamespace="pe.edu.pucp.weardrop.services" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteVentasPorPrenda" type="tns:generarReporteVentasPorPrenda" />
  <xs:element name="generarReporteVentasPorPrendaResponse" type="tns:generarReporteVentasPorPrendaResponse" />
  <xs:complexType name="generarReporteVentasPorPrenda">
    <xs:sequence>
      <xs:element minOccurs="0" name="pFechaDesde" type="xs:string" />
      <xs:element minOccurs="0" name="pFechaHasta" type="xs:string" />
      <xs:element minOccurs="0" name="tipoPeriodo" type="xs:string" />
      <xs:element minOccurs="0" name="Empleado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteVentasPorPrendaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>