WearDrop-Drimtim/WearDropFront/WearDropWA/Connected Services/CargoWS/CargoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://personal.services.weardrop.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CargoWS" targetNamespace="http://personal.services.weardrop.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WearDropWS/CargoWS?xsd=1" namespace="http://personal.services.weardrop.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarCargos">
    <part name="parameters" element="tns:listarCargos" />
  </message>
  <message name="listarCargosResponse">
    <part name="parameters" element="tns:listarCargosResponse" />
  </message>
  <message name="obtenerCargoPorId">
    <part name="parameters" element="tns:obtenerCargoPorId" />
  </message>
  <message name="obtenerCargoPorIdResponse">
    <part name="parameters" element="tns:obtenerCargoPorIdResponse" />
  </message>
  <message name="insertarCargo">
    <part name="parameters" element="tns:insertarCargo" />
  </message>
  <message name="insertarCargoResponse">
    <part name="parameters" element="tns:insertarCargoResponse" />
  </message>
  <message name="modificarCargo">
    <part name="parameters" element="tns:modificarCargo" />
  </message>
  <message name="modificarCargoResponse">
    <part name="parameters" element="tns:modificarCargoResponse" />
  </message>
  <message name="eliminarCargo">
    <part name="parameters" element="tns:eliminarCargo" />
  </message>
  <message name="eliminarCargoResponse">
    <part name="parameters" element="tns:eliminarCargoResponse" />
  </message>
  <portType name="CargoWS">
    <operation name="listarCargos">
      <input wsam:Action="http://personal.services.weardrop.pucp.edu.pe/CargoWS/listarCargosRequest" message="tns:listarCargos" />
      <output wsam:Action="http://personal.services.weardrop.pucp.edu.pe/CargoWS/listarCargosResponse" message="tns:listarCargosResponse" />
    </operation>
    <operation name="obtenerCargoPorId">
      <input wsam:Action="http://personal.services.weardrop.pucp.edu.pe/CargoWS/obtenerCargoPorIdRequest" message="tns:obtenerCargoPorId" />
      <output wsam:Action="http://personal.services.weardrop.pucp.edu.pe/CargoWS/obtenerCargoPorIdResponse" message="tns:obtenerCargoPorIdResponse" />
    </operation>
    <operation name="insertarCargo">
      <input wsam:Action="http://personal.services.weardrop.pucp.edu.pe/CargoWS/insertarCargoRequest" message="tns:insertarCargo" />
      <output wsam:Action="http://personal.services.weardrop.pucp.edu.pe/CargoWS/insertarCargoResponse" message="tns:insertarCargoResponse" />
    </operation>
    <operation name="modificarCargo">
      <input wsam:Action="http://personal.services.weardrop.pucp.edu.pe/CargoWS/modificarCargoRequest" message="tns:modificarCargo" />
      <output wsam:Action="http://personal.services.weardrop.pucp.edu.pe/CargoWS/modificarCargoResponse" message="tns:modificarCargoResponse" />
    </operation>
    <operation name="eliminarCargo">
      <input wsam:Action="http://personal.services.weardrop.pucp.edu.pe/CargoWS/eliminarCargoRequest" message="tns:eliminarCargo" />
      <output wsam:Action="http://personal.services.weardrop.pucp.edu.pe/CargoWS/eliminarCargoResponse" message="tns:eliminarCargoResponse" />
    </operation>
  </portType>
  <binding name="CargoWSPortBinding" type="tns:CargoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarCargos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCargoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCargo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCargo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCargo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CargoWS">
    <port name="CargoWSPort" binding="tns:CargoWSPortBinding">
      <soap:address location="http://localhost:8080/WearDropWS/CargoWS" />
    </port>
  </service>
</definitions>