WearDrop-Drimtim/WearDropFront/WearDropWA/Connected Services/PackagePrendas/GorroWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://prendas.services.weardrop.pucp.edu.pe/" targetNamespace="http://prendas.services.weardrop.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarGorro" type="tns:eliminarGorro" />
  <xs:element name="eliminarGorroResponse" type="tns:eliminarGorroResponse" />
  <xs:element name="filtrarGorros" type="tns:filtrarGorros" />
  <xs:element name="filtrarGorrosResponse" type="tns:filtrarGorrosResponse" />
  <xs:element name="insertarGorro" type="tns:insertarGorro" />
  <xs:element name="insertarGorroResponse" type="tns:insertarGorroResponse" />
  <xs:element name="listarGorros" type="tns:listarGorros" />
  <xs:element name="listarGorrosResponse" type="tns:listarGorrosResponse" />
  <xs:element name="modificarGorro" type="tns:modificarGorro" />
  <xs:element name="modificarGorroResponse" type="tns:modificarGorroResponse" />
  <xs:element name="obtenerGorroPorId" type="tns:obtenerGorroPorId" />
  <xs:element name="obtenerGorroPorIdResponse" type="tns:obtenerGorroPorIdResponse" />
  <xs:complexType name="eliminarGorro">
    <xs:sequence>
      <xs:element name="idGorro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarGorroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerGorroPorId">
    <xs:sequence>
      <xs:element name="idGorro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerGorroPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:gorro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gorro">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:prenda">
        <xs:sequence>
          <xs:element name="impermeable" type="xs:boolean" />
          <xs:element name="tallaAjustable" type="xs:boolean" />
          <xs:element minOccurs="0" name="tipoGorra" type="tns:tipoGorra" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="prenda" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="alertaMinStock" type="xs:int" />
      <xs:element minOccurs="0" name="color" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="descuentos" nillable="true" type="tns:descuento" />
      <xs:element name="idPrenda" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lotes" nillable="true" type="tns:lote" />
      <xs:element minOccurs="0" name="material" type="tns:material" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioDocena" type="xs:double" />
      <xs:element name="precioMayor" type="xs:double" />
      <xs:element name="precioUnidad" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="promociones" nillable="true" type="tns:promocion" />
      <xs:element name="stockPrenda" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="talla" nillable="true" type="tns:talla" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuento" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="esAutomatico" type="xs:boolean" />
      <xs:element name="idDescuento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="vigencia" type="tns:vigencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vigencia">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idVigencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lote">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="datAlmacen" type="tns:almacen" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idTienda" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocion" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="esAutomatico" type="xs:boolean" />
      <xs:element name="idPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="vigencia" type="tns:vigencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGorros">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarGorrosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:gorro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="filtrarGorros">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="filtrarGorrosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:gorro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarGorro">
    <xs:sequence>
      <xs:element minOccurs="0" name="gorro" type="tns:gorro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarGorroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarGorro">
    <xs:sequence>
      <xs:element minOccurs="0" name="gorro" type="tns:gorro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarGorroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoGorra">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bucket" />
      <xs:enumeration value="Visera" />
      <xs:enumeration value="Tejido" />
      <xs:enumeration value="Beanie" />
      <xs:enumeration value="Otro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="material">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Algodon" />
      <xs:enumeration value="Poliester" />
      <xs:enumeration value="algodon_poliester" />
      <xs:enumeration value="Lino" />
      <xs:enumeration value="Rayon" />
      <xs:enumeration value="Lana" />
      <xs:enumeration value="Acrilico" />
      <xs:enumeration value="Nylon" />
      <xs:enumeration value="lycra" />
      <xs:enumeration value="Denim" />
      <xs:enumeration value="Drill" />
      <xs:enumeration value="Gabardina" />
      <xs:enumeration value="Polar" />
      <xs:enumeration value="Franela" />
      <xs:enumeration value="Cuero" />
      <xs:enumeration value="Cuerina" />
      <xs:enumeration value="Saten" />
      <xs:enumeration value="Chifon" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="talla">
    <xs:restriction base="xs:string">
      <xs:enumeration value="XS" />
      <xs:enumeration value="S" />
      <xs:enumeration value="M" />
      <xs:enumeration value="L" />
      <xs:enumeration value="XL" />
      <xs:enumeration value="XXL" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>