WearDrop-Drimtim/WearDropFront/WearDropWA/Connected Services/PackagePrendas/PantalonWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://prendas.services.weardrop.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PantalonWS" targetNamespace="http://prendas.services.weardrop.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WearDropWS/PantalonWS?xsd=1" namespace="http://prendas.services.weardrop.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarPantalon">
    <part name="parameters" element="tns:eliminarPantalon" />
  </message>
  <message name="eliminarPantalonResponse">
    <part name="parameters" element="tns:eliminarPantalonResponse" />
  </message>
  <message name="obtenerPantalonPorId">
    <part name="parameters" element="tns:obtenerPantalonPorId" />
  </message>
  <message name="obtenerPantalonPorIdResponse">
    <part name="parameters" element="tns:obtenerPantalonPorIdResponse" />
  </message>
  <message name="insertarPantalon">
    <part name="parameters" element="tns:insertarPantalon" />
  </message>
  <message name="insertarPantalonResponse">
    <part name="parameters" element="tns:insertarPantalonResponse" />
  </message>
  <message name="modificarPantalon">
    <part name="parameters" element="tns:modificarPantalon" />
  </message>
  <message name="modificarPantalonResponse">
    <part name="parameters" element="tns:modificarPantalonResponse" />
  </message>
  <message name="filtrarPantalones">
    <part name="parameters" element="tns:filtrarPantalones" />
  </message>
  <message name="filtrarPantalonesResponse">
    <part name="parameters" element="tns:filtrarPantalonesResponse" />
  </message>
  <message name="listarPantalones">
    <part name="parameters" element="tns:listarPantalones" />
  </message>
  <message name="listarPantalonesResponse">
    <part name="parameters" element="tns:listarPantalonesResponse" />
  </message>
  <portType name="PantalonWS">
    <operation name="eliminarPantalon">
      <input wsam:Action="http://prendas.services.weardrop.pucp.edu.pe/PantalonWS/eliminarPantalonRequest" message="tns:eliminarPantalon" />
      <output wsam:Action="http://prendas.services.weardrop.pucp.edu.pe/PantalonWS/eliminarPantalonResponse" message="tns:eliminarPantalonResponse" />
    </operation>
    <operation name="obtenerPantalonPorId">
      <input wsam:Action="http://prendas.services.weardrop.pucp.edu.pe/PantalonWS/obtenerPantalonPorIdRequest" message="tns:obtenerPantalonPorId" />
      <output wsam:Action="http://prendas.services.weardrop.pucp.edu.pe/PantalonWS/obtenerPantalonPorIdResponse" message="tns:obtenerPantalonPorIdResponse" />
    </operation>
    <operation name="insertarPantalon">
      <input wsam:Action="http://prendas.services.weardrop.pucp.edu.pe/PantalonWS/insertarPantalonRequest" message="tns:insertarPantalon" />
      <output wsam:Action="http://prendas.services.weardrop.pucp.edu.pe/PantalonWS/insertarPantalonResponse" message="tns:insertarPantalonResponse" />
    </operation>
    <operation name="modificarPantalon">
      <input wsam:Action="http://prendas.services.weardrop.pucp.edu.pe/PantalonWS/modificarPantalonRequest" message="tns:modificarPantalon" />
      <output wsam:Action="http://prendas.services.weardrop.pucp.edu.pe/PantalonWS/modificarPantalonResponse" message="tns:modificarPantalonResponse" />
    </operation>
    <operation name="filtrarPantalones">
      <input wsam:Action="http://prendas.services.weardrop.pucp.edu.pe/PantalonWS/filtrarPantalonesRequest" message="tns:filtrarPantalones" />
      <output wsam:Action="http://prendas.services.weardrop.pucp.edu.pe/PantalonWS/filtrarPantalonesResponse" message="tns:filtrarPantalonesResponse" />
    </operation>
    <operation name="listarPantalones">
      <input wsam:Action="http://prendas.services.weardrop.pucp.edu.pe/PantalonWS/listarPantalonesRequest" message="tns:listarPantalones" />
      <output wsam:Action="http://prendas.services.weardrop.pucp.edu.pe/PantalonWS/listarPantalonesResponse" message="tns:listarPantalonesResponse" />
    </operation>
  </portType>
  <binding name="PantalonWSPortBinding" type="tns:PantalonWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarPantalon">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPantalonPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPantalon">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPantalon">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="filtrarPantalones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPantalones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PantalonWS">
    <port name="PantalonWSPort" binding="tns:PantalonWSPortBinding">
      <soap:address location="http://localhost:8080/WearDropWS/PantalonWS" />
    </port>
  </service>
</definitions>