WearDrop-Drimtim/WearDropFront/WearDropWA/Connected Services/PackagePrendas/PoloWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://prendas.services.weardrop.pucp.edu.pe/" targetNamespace="http://prendas.services.weardrop.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPolo" type="tns:eliminarPolo" />
  <xs:element name="eliminarPoloResponse" type="tns:eliminarPoloResponse" />
  <xs:element name="filtrarPolos" type="tns:filtrarPolos" />
  <xs:element name="filtrarPolosResponse" type="tns:filtrarPolosResponse" />
  <xs:element name="insertarPolo" type="tns:insertarPolo" />
  <xs:element name="insertarPoloResponse" type="tns:insertarPoloResponse" />
  <xs:element name="listarPolos" type="tns:listarPolos" />
  <xs:element name="listarPolosResponse" type="tns:listarPolosResponse" />
  <xs:element name="modificarPolo" type="tns:modificarPolo" />
  <xs:element name="modificarPoloResponse" type="tns:modificarPoloResponse" />
  <xs:element name="obtenerPoloPorId" type="tns:obtenerPoloPorId" />
  <xs:element name="obtenerPoloPorIdResponse" type="tns:obtenerPoloPorIdResponse" />
  <xs:complexType name="insertarPolo">
    <xs:sequence>
      <xs:element minOccurs="0" name="polo" type="tns:polo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="polo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:prenda">
        <xs:sequence>
          <xs:element minOccurs="0" name="estampado" type="xs:string" />
          <xs:element minOccurs="0" name="tipoCuello" type="tns:tipoCuello" />
          <xs:element minOccurs="0" name="tipoManga" type="tns:tipoManga" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="prenda" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="alertaMinStock" type="xs:int" />
      <xs:element minOccurs="0" name="color" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="descuentos" nillable="true" type="tns:descuento" />
      <xs:element name="idPrenda" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lotes" nillable="true" type="tns:lote" />
      <xs:element minOccurs="0" name="material" type="tns:material" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioDocena" type="xs:double" />
      <xs:element name="precioMayor" type="xs:double" />
      <xs:element name="precioUnidad" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="promociones" nillable="true" type="tns:promocion" />
      <xs:element name="stockPrenda" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="talla" nillable="true" type="tns:talla" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuento" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="esAutomatico" type="xs:boolean" />
      <xs:element name="idDescuento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="vigencia" type="tns:vigencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vigencia">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idVigencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lote">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="datAlmacen" type="tns:almacen" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idTienda" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocion" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="esAutomatico" type="xs:boolean" />
      <xs:element name="idPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="vigencia" type="tns:vigencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPoloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPolos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPolosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:polo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="filtrarPolos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="filtrarPolosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:polo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPolo">
    <xs:sequence>
      <xs:element name="idPolo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPoloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPolo">
    <xs:sequence>
      <xs:element minOccurs="0" name="polo" type="tns:polo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPoloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPoloPorId">
    <xs:sequence>
      <xs:element name="idPolo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPoloPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:polo" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoCuello">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Redondo" />
      <xs:enumeration value="V" />
      <xs:enumeration value="Camisero" />
      <xs:enumeration value="Alto" />
      <xs:enumeration value="Halter" />
      <xs:enumeration value="OffShoulder" />
      <xs:enumeration value="Otro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoManga">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MangaCorta" />
      <xs:enumeration value="MangaLarga" />
      <xs:enumeration value="SinManga" />
      <xs:enumeration value="Globo" />
      <xs:enumeration value="Campana" />
      <xs:enumeration value="TresCuartos" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="material">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Algodon" />
      <xs:enumeration value="Poliester" />
      <xs:enumeration value="algodon_poliester" />
      <xs:enumeration value="Lino" />
      <xs:enumeration value="Rayon" />
      <xs:enumeration value="Lana" />
      <xs:enumeration value="Acrilico" />
      <xs:enumeration value="Nylon" />
      <xs:enumeration value="lycra" />
      <xs:enumeration value="Denim" />
      <xs:enumeration value="Drill" />
      <xs:enumeration value="Gabardina" />
      <xs:enumeration value="Polar" />
      <xs:enumeration value="Franela" />
      <xs:enumeration value="Cuero" />
      <xs:enumeration value="Cuerina" />
      <xs:enumeration value="Saten" />
      <xs:enumeration value="Chifon" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="talla">
    <xs:restriction base="xs:string">
      <xs:enumeration value="XS" />
      <xs:enumeration value="S" />
      <xs:enumeration value="M" />
      <xs:enumeration value="L" />
      <xs:enumeration value="XL" />
      <xs:enumeration value="XXL" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>