WearDrop-Drimtim/WearDropFront/WearDropWA/Connected Services/PackagePrendas/PrendaLoteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://prendas.services.weardrop.pucp.edu.pe/" targetNamespace="http://prendas.services.weardrop.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarPrendaPorAtributos" type="tns:buscarPrendaPorAtributos" />
  <xs:element name="buscarPrendaPorAtributosResponse" type="tns:buscarPrendaPorAtributosResponse" />
  <xs:element name="buscarPrendaPorId" type="tns:buscarPrendaPorId" />
  <xs:element name="buscarPrendaPorIdResponse" type="tns:buscarPrendaPorIdResponse" />
  <xs:element name="eliminarPrendaLote" type="tns:eliminarPrendaLote" />
  <xs:element name="eliminarPrendaLoteResponse" type="tns:eliminarPrendaLoteResponse" />
  <xs:element name="existePrendaTallaEnLote" type="tns:existePrendaTallaEnLote" />
  <xs:element name="existePrendaTallaEnLoteResponse" type="tns:existePrendaTallaEnLoteResponse" />
  <xs:element name="insertarPrendaLote" type="tns:insertarPrendaLote" />
  <xs:element name="insertarPrendaLoteResponse" type="tns:insertarPrendaLoteResponse" />
  <xs:element name="listarColoresDistintos" type="tns:listarColoresDistintos" />
  <xs:element name="listarColoresDistintosResponse" type="tns:listarColoresDistintosResponse" />
  <xs:element name="listarMaterialesDistintos" type="tns:listarMaterialesDistintos" />
  <xs:element name="listarMaterialesDistintosResponse" type="tns:listarMaterialesDistintosResponse" />
  <xs:element name="listarNombresDistintos" type="tns:listarNombresDistintos" />
  <xs:element name="listarNombresDistintosResponse" type="tns:listarNombresDistintosResponse" />
  <xs:element name="listarPorIDPrenda" type="tns:listarPorIDPrenda" />
  <xs:element name="listarPorIDPrendaResponse" type="tns:listarPorIDPrendaResponse" />
  <xs:element name="listarPrendasPorLote" type="tns:listarPrendasPorLote" />
  <xs:element name="listarPrendasPorLoteResponse" type="tns:listarPrendasPorLoteResponse" />
  <xs:element name="listarTodasPrendasLote" type="tns:listarTodasPrendasLote" />
  <xs:element name="listarTodasPrendasLoteResponse" type="tns:listarTodasPrendasLoteResponse" />
  <xs:element name="modificarPrendaLote" type="tns:modificarPrendaLote" />
  <xs:element name="modificarPrendaLoteResponse" type="tns:modificarPrendaLoteResponse" />
  <xs:element name="obtenerPrendaLotePorId" type="tns:obtenerPrendaLotePorId" />
  <xs:element name="obtenerPrendaLotePorIdResponse" type="tns:obtenerPrendaLotePorIdResponse" />
  <xs:element name="obtenerStockPorTalla" type="tns:obtenerStockPorTalla" />
  <xs:element name="obtenerStockPorTallaResponse" type="tns:obtenerStockPorTallaResponse" />
  <xs:complexType name="insertarPrendaLote">
    <xs:sequence>
      <xs:element minOccurs="0" name="prendaLote" type="tns:prendaLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prendaLote">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idLote" type="xs:int" />
      <xs:element name="idPrenda" type="xs:int" />
      <xs:element name="idPrendaLote" type="xs:int" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="talla" type="tns:talla" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPrendaLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPrendaPorAtributos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="color" type="xs:string" />
      <xs:element minOccurs="0" name="material" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPrendaPorAtributosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:prenda" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prenda" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="alertaMinStock" type="xs:int" />
      <xs:element minOccurs="0" name="color" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="descuentos" nillable="true" type="tns:descuento" />
      <xs:element name="idPrenda" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lotes" nillable="true" type="tns:lote" />
      <xs:element minOccurs="0" name="material" type="tns:material" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioDocena" type="xs:double" />
      <xs:element name="precioMayor" type="xs:double" />
      <xs:element name="precioUnidad" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="promociones" nillable="true" type="tns:promocion" />
      <xs:element name="stockPrenda" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="talla" nillable="true" type="tns:talla" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuento" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="esAutomatico" type="xs:boolean" />
      <xs:element name="idDescuento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="vigencia" type="tns:vigencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vigencia">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idVigencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lote">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="datAlmacen" type="tns:almacen" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idTienda" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocion" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="esAutomatico" type="xs:boolean" />
      <xs:element name="idPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="vigencia" type="tns:vigencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPrendaLote">
    <xs:sequence>
      <xs:element minOccurs="0" name="prendaLote" type="tns:prendaLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPrendaLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPrendaLote">
    <xs:sequence>
      <xs:element name="idPrendaLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPrendaLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarColoresDistintos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarColoresDistintosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorIDPrenda">
    <xs:sequence>
      <xs:element name="idPrenda" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorIDPrendaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:prendaLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarNombresDistintos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarNombresDistintosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerStockPorTalla">
    <xs:sequence>
      <xs:element name="idPrenda" type="xs:int" />
      <xs:element minOccurs="0" name="talla" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerStockPorTallaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPrendaPorId">
    <xs:sequence>
      <xs:element name="idPrenda" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPrendaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:prenda" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existePrendaTallaEnLote">
    <xs:sequence>
      <xs:element name="idPrenda" type="xs:int" />
      <xs:element minOccurs="0" name="talla" type="xs:string" />
      <xs:element name="idLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existePrendaTallaEnLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasPrendasLote">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasPrendasLoteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:prendaLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPrendasPorLote">
    <xs:sequence>
      <xs:element name="idLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPrendasPorLoteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:prendaLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPrendaLotePorId">
    <xs:sequence>
      <xs:element name="idPrendaLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPrendaLotePorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:prendaLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMaterialesDistintos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMaterialesDistintosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="talla">
    <xs:restriction base="xs:string">
      <xs:enumeration value="XS" />
      <xs:enumeration value="S" />
      <xs:enumeration value="M" />
      <xs:enumeration value="L" />
      <xs:enumeration value="XL" />
      <xs:enumeration value="XXL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="material">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Algodon" />
      <xs:enumeration value="Poliester" />
      <xs:enumeration value="algodon_poliester" />
      <xs:enumeration value="Lino" />
      <xs:enumeration value="Rayon" />
      <xs:enumeration value="Lana" />
      <xs:enumeration value="Acrilico" />
      <xs:enumeration value="Nylon" />
      <xs:enumeration value="lycra" />
      <xs:enumeration value="Denim" />
      <xs:enumeration value="Drill" />
      <xs:enumeration value="Gabardina" />
      <xs:enumeration value="Polar" />
      <xs:enumeration value="Franela" />
      <xs:enumeration value="Cuero" />
      <xs:enumeration value="Cuerina" />
      <xs:enumeration value="Saten" />
      <xs:enumeration value="Chifon" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>