WearDrop-Drimtim (Grupal)/WearDropFront/WearDropWA/Connected Services/PackagePrendas/CasacaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://prendas.services.weardrop.pucp.edu.pe/" targetNamespace="http://prendas.services.weardrop.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCasaca" type="tns:eliminarCasaca" />
  <xs:element name="eliminarCasacaResponse" type="tns:eliminarCasacaResponse" />
  <xs:element name="filtrarCasacas" type="tns:filtrarCasacas" />
  <xs:element name="filtrarCasacasResponse" type="tns:filtrarCasacasResponse" />
  <xs:element name="insertarCasaca" type="tns:insertarCasaca" />
  <xs:element name="insertarCasacaResponse" type="tns:insertarCasacaResponse" />
  <xs:element name="listarCasacas" type="tns:listarCasacas" />
  <xs:element name="listarCasacasResponse" type="tns:listarCasacasResponse" />
  <xs:element name="modificarCasaca" type="tns:modificarCasaca" />
  <xs:element name="modificarCasacaResponse" type="tns:modificarCasacaResponse" />
  <xs:element name="obtenerCasacaPorId" type="tns:obtenerCasacaPorId" />
  <xs:element name="obtenerCasacaPorIdResponse" type="tns:obtenerCasacaPorIdResponse" />
  <xs:complexType name="obtenerCasacaPorId">
    <xs:sequence>
      <xs:element name="idCasaca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCasacaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:casaca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="casaca">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:prenda">
        <xs:sequence>
          <xs:element name="conCapucha" type="xs:boolean" />
          <xs:element minOccurs="0" name="tipoCasaca" type="tns:tipoCasaca" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="prenda" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="alertaMinStock" type="xs:int" />
      <xs:element minOccurs="0" name="color" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="descuentos" nillable="true" type="tns:descuento" />
      <xs:element name="idPrenda" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lotes" nillable="true" type="tns:lote" />
      <xs:element minOccurs="0" name="material" type="tns:material" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioDocena" type="xs:double" />
      <xs:element name="precioMayor" type="xs:double" />
      <xs:element name="precioUnidad" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="promociones" nillable="true" type="tns:promocion" />
      <xs:element name="stockPrenda" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="talla" nillable="true" type="tns:talla" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuento" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="esAutomatico" type="xs:boolean" />
      <xs:element name="idDescuento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="vigencia" type="tns:vigencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vigencia">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idVigencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lote">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="datAlmacen" type="tns:almacen" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idTienda" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocion" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="esAutomatico" type="xs:boolean" />
      <xs:element name="idPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="vigencia" type="tns:vigencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCasaca">
    <xs:sequence>
      <xs:element minOccurs="0" name="casaca" type="tns:casaca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCasacaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCasaca">
    <xs:sequence>
      <xs:element name="idCasaca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCasacaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCasacas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCasacasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:casaca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="filtrarCasacas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="filtrarCasacasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:casaca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCasaca">
    <xs:sequence>
      <xs:element minOccurs="0" name="casaca" type="tns:casaca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCasacaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoCasaca">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bomber" />
      <xs:enumeration value="Puffer" />
      <xs:enumeration value="Denim" />
      <xs:enumeration value="Deportiva" />
      <xs:enumeration value="Cuero" />
      <xs:enumeration value="Cardigan" />
      <xs:enumeration value="Otro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="material">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Algodon" />
      <xs:enumeration value="Poliester" />
      <xs:enumeration value="algodon_poliester" />
      <xs:enumeration value="Lino" />
      <xs:enumeration value="Rayon" />
      <xs:enumeration value="Lana" />
      <xs:enumeration value="Acrilico" />
      <xs:enumeration value="Nylon" />
      <xs:enumeration value="lycra" />
      <xs:enumeration value="Denim" />
      <xs:enumeration value="Drill" />
      <xs:enumeration value="Gabardina" />
      <xs:enumeration value="Polar" />
      <xs:enumeration value="Franela" />
      <xs:enumeration value="Cuero" />
      <xs:enumeration value="Cuerina" />
      <xs:enumeration value="Saten" />
      <xs:enumeration value="Chifon" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="talla">
    <xs:restriction base="xs:string">
      <xs:enumeration value="XS" />
      <xs:enumeration value="S" />
      <xs:enumeration value="M" />
      <xs:enumeration value="L" />
      <xs:enumeration value="XL" />
      <xs:enumeration value="XXL" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>