WearDrop-Drimtim (Grupal)/WearDropFront/WearDropWA/Connected Services/ReporteDeInventarioWS/ReporteDeInventarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://reportes.services.weardrop.pucp.edu.pe/" targetNamespace="http://reportes.services.weardrop.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteDeInventario" type="tns:generarReporteDeInventario" />
  <xs:element name="generarReporteDeInventarioResponse" type="tns:generarReporteDeInventarioResponse" />
  <xs:complexType name="generarReporteDeInventario">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteDeInventarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>