WearDrop-Drimtim/WearDropFront/WearDropWA/Connected Services/VentaWS/VentaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ventas.services.weardrop.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="VentaWS" targetNamespace="http://ventas.services.weardrop.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WearDropWS/VentaWS?xsd=1" namespace="http://ventas.services.weardrop.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarVenta">
    <part name="parameters" element="tns:eliminarVenta" />
  </message>
  <message name="eliminarVentaResponse">
    <part name="parameters" element="tns:eliminarVentaResponse" />
  </message>
  <message name="listarVentas">
    <part name="parameters" element="tns:listarVentas" />
  </message>
  <message name="listarVentasResponse">
    <part name="parameters" element="tns:listarVentasResponse" />
  </message>
  <message name="obtenerVentaPorId">
    <part name="parameters" element="tns:obtenerVentaPorId" />
  </message>
  <message name="obtenerVentaPorIdResponse">
    <part name="parameters" element="tns:obtenerVentaPorIdResponse" />
  </message>
  <message name="modificarVenta">
    <part name="parameters" element="tns:modificarVenta" />
  </message>
  <message name="modificarVentaResponse">
    <part name="parameters" element="tns:modificarVentaResponse" />
  </message>
  <message name="insertarVenta">
    <part name="parameters" element="tns:insertarVenta" />
  </message>
  <message name="insertarVentaResponse">
    <part name="parameters" element="tns:insertarVentaResponse" />
  </message>
  <portType name="VentaWS">
    <operation name="eliminarVenta">
      <input wsam:Action="http://ventas.services.weardrop.pucp.edu.pe/VentaWS/eliminarVentaRequest" message="tns:eliminarVenta" />
      <output wsam:Action="http://ventas.services.weardrop.pucp.edu.pe/VentaWS/eliminarVentaResponse" message="tns:eliminarVentaResponse" />
    </operation>
    <operation name="listarVentas">
      <input wsam:Action="http://ventas.services.weardrop.pucp.edu.pe/VentaWS/listarVentasRequest" message="tns:listarVentas" />
      <output wsam:Action="http://ventas.services.weardrop.pucp.edu.pe/VentaWS/listarVentasResponse" message="tns:listarVentasResponse" />
    </operation>
    <operation name="obtenerVentaPorId">
      <input wsam:Action="http://ventas.services.weardrop.pucp.edu.pe/VentaWS/obtenerVentaPorIdRequest" message="tns:obtenerVentaPorId" />
      <output wsam:Action="http://ventas.services.weardrop.pucp.edu.pe/VentaWS/obtenerVentaPorIdResponse" message="tns:obtenerVentaPorIdResponse" />
    </operation>
    <operation name="modificarVenta">
      <input wsam:Action="http://ventas.services.weardrop.pucp.edu.pe/VentaWS/modificarVentaRequest" message="tns:modificarVenta" />
      <output wsam:Action="http://ventas.services.weardrop.pucp.edu.pe/VentaWS/modificarVentaResponse" message="tns:modificarVentaResponse" />
    </operation>
    <operation name="insertarVenta">
      <input wsam:Action="http://ventas.services.weardrop.pucp.edu.pe/VentaWS/insertarVentaRequest" message="tns:insertarVenta" />
      <output wsam:Action="http://ventas.services.weardrop.pucp.edu.pe/VentaWS/insertarVentaResponse" message="tns:insertarVentaResponse" />
    </operation>
  </portType>
  <binding name="VentaWSPortBinding" type="tns:VentaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarVentas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerVentaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="VentaWS">
    <port name="VentaWSPort" binding="tns:VentaWSPortBinding">
      <soap:address location="http://localhost:8080/WearDropWS/VentaWS" />
    </port>
  </service>
</definitions>